* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 10px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(img/0_1bb6ad5041356d8ebabf057750ba54d7_1396283152.jpg);
    background-size: cover;
    padding: 50px;
}

.container {
    width: 500px;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: -200%;

}

.row {
    position: relative;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

.modal-wrapper {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.check-block {
    flex-grow: 1;
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.check-block > .icon {
    color: white;
    font-size: 35rem;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    padding: 5px;
    padding-bottom: 55px;
}

form > input {
    width: 100%;
    margin-bottom: 50px;
    height: 25px;
    border: none;
    border-bottom: 2px solid red;
    background: none;
    color: white;
    font-size: 2rem;
    box-sizing: border-box;
    padding-left: 26px;

}

form {

    position: relative;
}

button {
    font-size: 2rem;
    padding: 10px 200px;
    border-radius: 15px;
    background-color: red;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

button:hover {
    border: 1px solid silver;
    cursor: pointer;

}

p {
    font-size: 1.8rem;
}

p > a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    margin-left: 45px;
}

p > a:hover {
    text-decoration: underline;
}

i.fa {
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    margin-right: -30px;
    position: relative;
    z-index: 1;
    top: 26px;
}

form > input::placeholder {
    color: white;
}

@keyframes modal {
    0% {
        top: -200%;
    }
    50% {
        top: 0;
    }
    85% {
        top: 0;
    }
    100% {
        top: -200%;
    }
}

.button-origin {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.button-origin:hover + .container {
    animation: modal 3s linear;
    animation-delay: 0.5s;
}

