$backColor: #ffcccc;
$buttonBackColor: #2a602d;
$buttonBackActiveColor: #334432;
$mainSize: 14px;
$fontFamily: "Helvetica";
$textColor: #333;
$countBlocks: 5;

%styleItem {
  list-style: none;
  margin-top: 5px;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  padding: 5px 5px;
}

%remove {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 10px;
  display: inline-block;

}

%removeHover {

  background-color: red;
  border-radius: 50%;
  transition: all 1s;

}

@mixin item($i) {
  font-size: $mainSize + $i;
  color: lighten($buttonBackActiveColor, ($i * 5%));
}

$messengerBgc: (
        1: green,
        5: white,
        3: orange,
        2: blue,
        4: red,
);
$messengerColor: (
        defaultTitle: black,
        default:red,
        all: white,
);
$sevenWidth: 50px;

$buttonSize: (
        big:100px,
        medium:75px,
        small:50px
);
