<h3>my account login</h3>

<form action="">

    <label class="labelForm">
        <span>username</span>
        <div class="icon">
            <input type="text" required>
            <i class="far fa-user fa"></i>
        </div>
    </label>
    <label class="labelForm">
        <span>password</span>
        <div class="icon">
            <input type="password" required>
            <i class="fas fa-lock fa"></i>
        </div>
    </label>
    <div class="form--down">
        <input class="login--button button btn" type="submit" value="Login in">
        <a class="forgot" href="#">Forgot Password?</a>
    </div>
</form>

<div class="social__block">
    <div class="social__block--content hr "></div>
    <div class="social__block--content title ">or sign in width</div>
    <div class="social__block--content hr "></div>
</div>
<div class="social__block">
    <a class="social__block--button button btn tw" href="#">twitter</a>
    <a class="social__block--button button btn fb" href="#">facebook</a>
    <a class="social__block--button button btn g" href="#">google+</a>
</div>


