<h3>registration</h3>
<form action=""></form>
<label class="label-register">
    <span>first name*</span>
    <div class="wrapper icon"><input required type="text"></div>
</label>
<label class="label-register">
    <span> last name*</span>
    <div class="wrapper icon"><input required type="text"></div>

</label>
<label class="label-register">
    <span> password*</span>
    <div class="wrapper icon"><input required type="password"></div>

</label>
<label class="label-register">
    <span>confirm password*</span>
    <div class="wrapper icon"><input required type="text"></div>

</label>
<label class="label-register">
    <span>data birth*</span>
    <div class="wrapper icon birth">
        <input required type="text" placeholder="MM"
        class="birth">
        <input required type="text" placeholder="DD"
        class="birth">
        <input required type="text" placeholder="YY"
        class="birth">
    <label class="gender" for=""><span> gender </span>
        <select class="birth " name="">
            <option value="">male</option>
            <option value="">female</option>
        </select>
    </label></div>
</label>
<label class="label-register">
    <span>phone*</span>
    <div class="wrapper icon"><input required type="text"></div>

</label>
<label class="label-register">
    <span>e-Mail*</span>
    <div class="wrapper icon"><input required type="text"></div>

</label>
<label class="label-register">
    <span>adress*</span>
    <div class="wrapper icon"><textarea name="" id="" cols="10" rows="5" required></textarea></div>
</label>
<div class="small">
    <div class="double">
        <label class="label-register">
            <div class="small-wrapper">
                <span>City*</span>
                <div class="size"><input required type="text"></div>
            </div>
        </label>
        <label class="label-register">
            <div class="small-wrapper">
                <span>Stats*</span>
                <div class="size"><input required type="text"></div>
            </div>
        </label>
    </div>
    <label class="label-register">
        <div class="small-wrapper">
            <span>Zip Postal Code*</span>
            <div class="size"><input required type="text"></div>
        </div>
    </label>
    <label class="label-register">
        <div class="small-wrapper">
            <span>Country*</span>
            <div class="size"><input required type="text"></div>
        </div>
    </label>
    <label class="label-register">
        <div class="small-wrapper checked">
            <input type="checkbox" name="agreed">
            <div class="checkbox">Agreed to Terms and Conditions</div>
            <div class="clear"></div>
        </div>
    </label>
    <input class="login--button button btn green" type="submit" value="sign up">

</div>
</form>