@import url('https://fonts.googleapis.com/css?family=Gabriela');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Gabriela;
    box-sizing: border-box;
    line-height: 1;
    height: 100%;
}

.wrapper {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px solid black;*/
}

.header {
    background-color: #ff5c33;
    position: relative;
    }

.wrapper > span {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 12px;
    margin-top: 23px;
    float: left;
}

.wrapper > img {
    width: 69px;
    height: 60px;
    float: left;
    margin-top: 2px;
    margin-left: 5px;

}
ol{
    display: none;
    margin-top: 19px;
    margin-left: -22px;
    position: absolute;
    background-color: #333333;

}

.nav {
    float: right;
    margin-right: 5px;
    position: relative;
    font-size: 21px;
    font-weight: bold;
}

.nav li {
    float: left;
    list-style: none;
    padding: 30px 22px 19px 22px;
    text-transform: uppercase;

}
.nav li:hover{
    background-color: #333333;
}
.nav li:hover>ol{
    display: block;

}
.nav ol>li{
    float: none;
    padding: 18px 22px 0;
    list-style: decimal inside;
    color: #fff;
    text-transform: capitalize;
}
.nav ol>li:last-child{
    padding-bottom: 18px;
}
.nav li a {
    text-decoration: none;
    color: #ffffff;

}

.clear:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.content{
    background-color: #fff;
    margin: 10px 0;
    padding-top: 129px;
    min-height: calc(100% - 44px);
}
.h1{
    text-align: center;
}
.h1>h1 {
    /*margin-top: 129px;*/
    color: #fe470f;
    font-size: 41px;
    font-weight: bold;
}

.first{
    margin-top: 53px;
}
.first > .coll{
    float: left;
    width: calc((100% - 150px)/3);
    margin-left: 60px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px;
}
.first > .coll:first-child{
    margin-left: 0;
}
.coll>h2{
    color: #333333;
    font-size: 21px;
    font-weight: bold;
    margin-top: 18px;
}

.btn{
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    /*width: 100%;*/
    background-color: #fe470f;
    margin-top: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.second{
    margin-top: 60px;
}
.second>.coll{
    /*border: 1px solid red;*/
    float: left;
    width: calc((100% - 20px)/2);
    text-align: justify;
}
.second>.coll:first-child{
    margin-right: 16px;
}
.coll>p{
    color: #333333;
    font-size: 16px;
    font-weight: bold
}
.footer{
    position: relative;
    margin-top: 146px;
    background-color: #ff5c33;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 9px;
    /*height: 44px;*/
}
.footer-content{
    padding-left: 5px;
    padding-right: 5px;
}
.footer-content > span{
    font-size: 21px;
    font-weight: 400;
    float: left;

}
.footer-content > span:last-child{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    float: right;
    margin-right: 40px;
}
.arrow{
    position: fixed;
    right: 19px;
    bottom: 70px;
}
.content:after{
    display: block;
    content: '';
    height: 44px;
}

@media (max-width: 690px){
    .wrapper{
        padding-left: 5px;
        padding-right: 5px;
    }
    .wrapper > span{
        display: none;
    }
    .wrapper > img {
        width: 46px;
        height: 40px;
        margin-top: 11px;
        margin-left: 12px;
    }
    .nav{
        position: static;
    }
    .nav li {
        float: left;
        list-style: none;
        padding: 27px 22px 19px 22px;
        text-transform: uppercase;

    }
    .header{
        position: relative;
    }
    ol{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .content{
        padding-top: 100px;
    }

   .first> .coll{
        float: none;
        width: 100%;
       margin-left: 0;

   }
    .h1>h1{
        font-size: 35px;
        margin-bottom: 21px;
    }
    .first{
        width: calc(100% - 100px);
        margin: 0 auto;
    }
    .second{
        width: calc(100% - 100px);
        margin: 0 auto;
    }
    .second> .coll{
        float: none;
        width: 100%;
        padding: 5px;
    }
    .btn{
        font-size: 21px;
        width: 176px;
        padding: 13px 0;
        margin: 17px auto 45px;
    }
    .arrow{
        display: none;
    }
    .footer-content > span:last-child{
        margin-top: 17px;
        margin-right: 10px;
    }
}