*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: darkgray;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.wrapper{
    width: 92%;
    color: #000;
    text-align: center;
    transform: rotate(-15deg);

}
.popup{
    background-color: green;
    width: 100%;
    height: 200px;
    border: 25px solid gray;
    border-radius:5px;
    box-shadow: 0 2px 4px black;
    box-sizing: border-box;

}
.opacity{
    opacity: 0.7;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.white-fon{
    width: 500px;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
}
.button{
    padding: 5px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: blue;
    position: absolute;
font-size: 25px;
    z-index: 2;
}
.button-1{
    top: 100px;
    left: 100px;
}
.button-2{
    left: 1000px;
    top: 80px;
}
.button-3{
    left: 1500px;
    top: 300px;
}.button-4{
    left: 100px;
    top: 400px;
}.button-5{
    bottom: 100px;
    right: 700px;
}
 .dash{
     width: 300px;
     height: 400px;
     border: 3px dashed blue;
     top: 300px;
     left: 500px;
     position: absolute;
     z-index: 1;
 }